/* about me */
.name {
    border-bottom: 2px solid var(--accent4) ;
    color: var(--dominant1);
}

.main-intro p {
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
}



.social-item {
    display: inline;
    list-style: none;  
    padding-right: 0.5em; 
    font-size: 1em;
}

.social-logo #icon svg{
    width: 100px !important;
    height: 100px !important;
}

.developer-image {
    max-width: 100%;
}

.hand-wave {
    font-size: 30px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f8f9fa, #e9ecef); /* Optional: background gradient */
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.intro-section {
  max-width: 600px;
}

.animation-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
}
