/* Navbar styling */
.navigation {
	background-color: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}

.navLink {
	color: #000;
	font-weight: 500;
	text-decoration: none;
}

.navLink:hover {
	color: var(--accent5);
	font-weight: bold;
}
