.card-header {
    background-color: var(--accent2);

}
.card-link {
    text-decoration: none;
    color: var(--dominant1);
    font-weight: 600;
    font-size: 18px;

}
.card-link:hover {
    color: var(--dominant1);
}

